<a name="home"></a>
<section class="header valign-wrapper"></section>
<section class="profile">
	<div class="container z-depth-1 white">
		<div class="row">
			<div class="col s12 m12 l4 left-profile">
				<div class="row profile-pic"></div>
			</div>

			<div class="col s12 m12 l8">
				<div class="padding-wrap">
					<p class="job-text"><span class="name-text">FRANK LEE</span><br />
						WEB DEVELOPER & DESIGNER
						<div class="divider"></div>
					</p>
					<p>Hi! I'm a front-end web developer with 5 years experience in HTML/CSS/JS. I have a preference for development in React and Meteor, and I enjoy learning about
						new web technology and frameworks. I have previous experience in database administration and business intelligence so I'm
						well versed in database structure, query languages and backend technology/tools.
						<br /><br />I'm available for work and always looking for a new opportunities to learn.
						If you feel I'd be a fit for your team feel free to contact me!
					</p>
					<blockquote class="bio-padding">
						<div class="row">
							<div class="col s12 m2 l2">
								<span class="p-bold">EMAIL</span>
							</div>
							<div class="col s12 m9 offset-m1 l9 offset-l1">
								<span class="p-span">lee.frankie@gmail.com</span>
							</div>
						</div>

						<div class="row">
							<div class="col s12 m2 l2">
								<span class="p-bold">LINKED IN</span>
							</div>
							<div class="col s12 m9 offset-m1 l9 offset-l1">
								<span class="p-span">Linkedin.com/in/franklee3</span>
							</div>
						</div>

						<div class="row">
							<div class="col s12 m2 l2">
								<span class="p-bold">LOCATION</span>
							</div>
							<div class="col s12 m9 offset-m1 l9 offset-l1">
								<span class="p-span">Toronto ON, Canada.</span>
							</div>
						</div>

						<div class="row">
							<div class="col s12 m2 l2">
								<span class="p-bold">GITHUB</span>
							</div>
							<div class="col s12 m9 offset-m1 l9 offset-l1">
								<span class="p-span">lee-frank</span>
							</div>
						</div>
					</blockquote>
				</div>
			</div>
		</div>
	</div>
</section>

<br /><br />

<section class="skills">
	<div class="container z-depth-1 white">
		<div class="padding-wrap">
			<div class="row">
				<div class="col s12 m12 l12 center-align">
					<h4>SKILLS</h4>
					<div class="divider"></div>
				</div>
			</div>

			<div class="row">
				<!-- Skill section DIV-->
				<div class="col s12 m6 l3">
					<p class="header-text">FRONT END</p>
					<ul class="fa-ul">
						<li><i class="fa-li fa fa-circle"></i>HTML</li>
						<li><i class="fa-li fa fa-circle"></i>CSS</li>
						<li><i class="fa-li fa fa-circle"></i>SASS</li>
						<li><i class="fa-li fa fa-circle"></i>Javascript</li>
					</ul>
				</div>

				<div class="col s12 m6 l3">
					<p class="header-text">JS FRAMEWORKS</p>
					<ul class="fa-ul">
						<li><i class="fa-li fa fa-circle"></i>ReactJS</li>
						<li><i class="fa-li fa fa-circle"></i>Meteor</li>
						<li><i class="fa-li fa fa-circle"></i>VueJS</li>
						<li><i class="fa-li fa fa-circle"></i>AngularJS/Angular2</li>
					</ul>
				</div>

				<div class="col s12 m6 l3">
					<p class="header-text">DATABASE</p>
					<ul class="fa-ul">
						<li><i class="fa-li fa fa-circle"></i>SQL/mySQL</li>
						<li><i class="fa-li fa fa-circle"></i>MongoDB</li>
						<li><i class="fa-li fa fa-circle"></i>Microsoft BI Tools</li>
					</ul>
				</div>

				<div class="col s12 m6 l3">
					<p class="header-text">PRODUCTIVITY</p>
					<ul class="fa-ul">
						<li><i class="fa-li fa fa-circle"></i>Github</li>
						<li><i class="fa-li fa fa-circle"></i>Trello</li>
						<li><i class="fa-li fa fa-circle"></i>Atom, Sublime</li>
					</ul>
				</div>
			</div>
		</div> <!-- end padding wrap -->
	</div><!-- end container -->
</section>

<br /><br />

<section class="experience">
	<div class="container z-depth-1 white">
		<div class="padding-wrap">
			<div class="row">
				<div class="col s12 m12 l12 center-align">
					<h4>EXPERIENCE</h4>
				</div>
			</div>
			<div class="divider"></div>

			<div class="row">
				<div class="col s12 m4 l4">
					<p><span class="header-text left-border-red">FREELANCE DEVELOPER</span><br />
						Sept 2015-Current
					</p>
					<p>Currently working as a freelance developer, working on personal and professional projects with the goal of becoming a better web developer.</p>
				</div>
				<div class="col s12 m7 offset-m1 l7 offset-l1">
					<p><span class="header-text"><i class="fa fa-circle red-text"></i> GETQUORUM</span><br />getquorum.com</p>
					<p>A product by PowderkegLabs for online proxy voting in condominium meetings. I worked on a small application to make server calls to the main application API for email confirmations.</p>
					<p> <span class="header-text"><i class="fa fa-circle red-text"></i> POWEROVERWHELMING</span><br /> poweroverwhelming.me</p>
					<p>A personal project to learn web development using Meteor. A tool to help Starcraft players find other players for practice or ranked matchmaking.</p>
				</div>

				<div class="col s12 m4 l4">
					<p><span class="header-text left-border-blue">MERSCIENT INC.</span><br />
						merscient.com<br />
						2006-2014
					</p>
					<p>Merscient's products and services include loyalty strategy, a flexible technology platform, and program management. Together our service offerings track, understand, reward and grow customer value and engagement.</p>
				</div>
				<div class="col s12 m7 offset-m1 l7 offset-l1">
					<p class="header-text"><i class="fa fa-circle blue-text"></i>  FRONT-END DEVELOPER</p>
					<p>HTML, CSS, Javascript website updates for Know Your IBM Rewards program.</p>
					<p class="header-text"><i class="fa fa-circle blue-text"></i> BUSINESS INTELLIGENCE DEVELOPER</p>
					<p>Build and maintain data feed process for the datawarehouse. Design reporting templates and analytics.</p>
					<p class="header-text"><i class="fa fa-circle blue-text"></i> EMAIL MARKETING</p>
					<p>Produce HTML templates for email content, manage mailing list database, follow best practices and ensure compliance.</p>
				</div>
			</div>
		</div>
	</div><!-- END ROW -->
</div><!-- END CONTAINER -->
</section>

<br /><br />

<section class="reference">
	<div class="container z-depth-1 white">
		<div class="padding-wrap">
			<div class="row">
				<div class="col s12 m12 l12 center-align">
					<h4>REFERENCE</h4>
				</div>
			</div>
			<div class="row">
				<div class="col s12 m1 l1">
					<i class="fa fa-quote-right fa-2x blue-text"></i>
				</div>
				<div class="col s12 m11 l11">
					<p>
						It is with great pleasure that I strongly recommend Frank Lee. I recruited and supervised Frank during his tenure of over 8 years at Merscient. I was continually impressed with how he not only got the job done, but came up with innovative ways to build long-term relationships and good will with customers and colleagues.
						<br /><br />
						He showed leadership and initiative by learning and applying new technologies for our key accounts. Frank continually developed new ways to show value to our customers ...
						<p class="right-align">
							<span class="header-text">
								David Kennedy<br />
								Founder, Merscient Inc.
							</span>
						</p>
					</p>
				</div>
			</div>
		</div>
	</div>
</section>

<br /><br />
