	<section class="header valign-wrapper">
		<div class="row">
			<div class="col s12 m12 l12 center-align">
				<!--<img class="profile-pic" src="/images/profile_pic.jpg">-->
				<p class="sub1-text white-text"><span class="name-text">FRANK LEE</span><br />
					WEB DEVELOPER & DESIGNER
					<br /><br />
					<div class="container">
						<span class="sub2-text">Welcome to the site! I enjoy designing <b>modern, responsive, mobile ready</b> websites. Scroll down to learn more about me!</span>
					</div>
				</p>
			</div>
		</div>
	</section>
	<nav>
		<div class="nav-wrapper">
			<div class="container">
				<a href="#" class="brand-logo right hide-on-med-and-down"></a>
				<ul id="nav-mobile" class="left">
					<li><a href="sass.html">ABOUT ME</a></li>
					<li><a href="badges.html">SKILLS</a></li>
					<li><a href="collapsible.html">EXPERIENCE</a></li>
				</ul>
			</div>
		</div>
	</nav>

	<br /><br />

	<section class="about">
		<div class="container z-depth-1 padding-wrap white">
			<div class="row">
				<div class="col s12 m12 l12 center-align">
					<h4>ABOUT ME</h4>
				</div>
			</div>
			<div class="row">
				<div class="col s12 m7 l7">
					<p>I have 8 years experience in front-end development using HTML and CSS. I've also worked with SQL databases and Microsoft Business Intelligence Tools (SSAS, SSIS, SSRS). 
						<br /><br />
						I've been expanding my knowledge as a Web Developer and designer with various frameworks.</p>
					</div>
				
					<div class="col s12 m4 l4">
						<p>
							<i class="small material-icons">email</i> lee.frankie@gmail.com<br />
							<i class="small material-icons">web</i> franklee.com<br />
							<i class="small material-icons">perm_identity</i> ca.linkedin.com/in/franklee3<br />
							<i class="small material-icons">location_on</i> Toronto ON, Canada.
						</p>
					</div>
				</div>
			</div>
		</section>

		<br /><br />

		<section class="skills">
			<div class="container z-depth-1 padding-wrap white">
				<div class="row">
					<div class="col s12 m12 l12 center-align">
						<h4>SKILLS</h4>
					</div>
				</div>
				<div class="row">
					<div class="col s12 m6 l3">
						<p class="sub3-text">Front End</p>
						<p>
							HTML<br />
							CSS<br />
							SASS<br />
							Javascript
						</p>
					</div>
					<div class="col s12 m6 l3">
						<p class="sub3-text">Frameworks</p>
						<p>
							AngularJS/Angular2<br />
							Meteor<br />
							Ruby on Rails<br />
							VueJS
						</p>
					</div>
					<div class="col s12 m6 l3">
						<p class="sub3-text">Database</p>
						<p>
							SQL/mySQL<br />
							MongoDB<br />
							Microsoft BI Tools
						</p>
					</div>
					<div class="col s12 m6 l3">
						<p class="sub3-text">Mobile</p>
						<p>
							iOS<br />
							Swift
						</p>
					</div>
				</div>
			</div>
		</section>

		<br /><br />

		<section class="experience">
			<div class="container z-depth-1 padding-wrap white">
				<div class="row">
					<div class="col s12 m12 l12 center-align">
						<h4>EXPERIENCE</h4>
					</div>
				</div>
				<div class="row">
					<div class="col s12 m6 l6">
						
						<p><span class="sub3-text">Merscient Inc.</span><br />
							2006-2014<br />
							www.merscient.com
						</p> 

						<p>Merscient's products and services include loyalty strategy, a flexible technology platform, and program management. Together our service offerings track, understand, reward and grow customer value and engagement.</p>
					</div>
					<div class="col s12 m6 l6">
						<p class="sub3-text">Front-end Developer</p>
						<p>HTML, CSS, Javascript website updates for Know Your IBM program.</p>
						<p class="sub3-text">Business Intelligence Analyst</p>
						<p>Build and maintain data feed process for datawarehouse. Design reporting templates and analytics.</p>
						<p class="sub3-text">Email Marketing</p>
						<p>Produce HTML templates for email content, manage mailing list database following best practices and compliance.</p>
					</div>
				</div>
			</div>
		</section>

		<br /><br />

		<section class="reference">
			<div class="container z-depth-1 padding-wrap white">
				<div class="row">
					<div class="col s12 m12 l12 center-align">
						<h4>REFERENCE</h4>
					</div>
				</div>
				<div class="row">
					<div class="col s12 m1 l1">
					<i class="fa fa-quote-right fa-2x"></i>
					</div>
					<div class="col s12 m11 l11">
						<p>	
						It is with great pleasure that I strongly recommend Frank Lee. I recruited and supervised Frank during his tenure of over 8 years at Merscient. I was continually impressed with how he not only got the job done, but came up with innovative ways to build long-term relationships and good will with customers and colleagues. 
							<br /><br />
							He showed leadership and initiative by learning and applying new technologies for our key accounts. Frank continually developed new ways to show value to our customers ... 
							<p class="right-align">
							<b>
								David Kennedy<br />
								Founder, Merscient Inc
							</b>
							</p>
						</p>	
						</div>
					</div>
				</div>
			</div>
		</section>

		<br /><br />

