<section class="header valign-wrapper"></section>

<section class="profile">
	<div class="container z-depth-1 white">
		<div class="row">
			<div class="col s12 m12 l4 left-profile">
				<div class="row profile-pic"></div>
			</div>

			<div class="col s12 m12 l8">
				<div class="padding-wrap">
					<p class="job-text"><span class="name-text">FRANK LEE</span><br />
						WEB DEVELOPER & DESIGNER
						<div class="divider"></div>
					</p>
					<p>Hi! I'm a front-end web developer with 5 years experience in HTML/CSS. I enjoy learning about new web technology and have experience with various
						JS frameworks, such as React and Meteor. I have previous experience in database administration and Business intelligence so I'm
						well versed in database structure, query languages and backend technology/tools.
						<br /><br />I'm available for work and always looking for a new opportunities to learn.
						If you feel I'd be a fit for your team feel free to contact me!
					</p>
					<blockquote class="bio-padding">
						<div class="row">
							<div class="col s12 m2 l2">
								<span class="p-bold">EMAIL</span>
							</div>
							<div class="col s12 m9 offset-m1 l9 offset-l1">
								<span class="p-span">lee.frankie@gmail.com</span>
							</div>
						</div>

						<div class="row">
							<div class="col s12 m2 l2">
								<span class="p-bold">LINKED IN</span>
							</div>
							<div class="col s12 m9 offset-m1 l9 offset-l1">
								<span class="p-span">Linkedin.com/in/franklee3</span>
							</div>
						</div>

						<div class="row">
							<div class="col s12 m2 l2">
								<span class="p-bold">LOCATION</span>
							</div>
							<div class="col s12 m9 offset-m1 l9 offset-l1">
								<span class="p-span">Toronto ON, Canada.</span>
							</div>
						</div>

						<div class="row">
							<div class="col s12 m2 l2">
								<span class="p-bold">GITHUB</span>
							</div>
							<div class="col s12 m9 offset-m1 l9 offset-l1">
								<span class="p-span">lee-frank</span>
							</div>
						</div>
					</blockquote>
				</div>
			</div>
		</div>
	</div>
</section>

<br /><br />

<section class="skills">
	<div class="container z-depth-1 white">
		<div class="row">
			<div class="col s12 m12 l8">
				<div class="padding-wrap">
					<h4>EXPERIENCE</h4>
					<div class="divider"></div>
					<div class="col s12 m6 l6">
						<p><span class="header-text">MERSCIENT INC.</span><br />
							2006-2014<br />
							www.merscient.com
						</p>
						<p>Merscient's products and services include loyalty strategy, a flexible technology platform, and program management. Together our service offerings track, understand, reward and grow customer value and engagement.</p>
					</div>
					<div class="col s12 m5 offset-m1 l5 offset-l1">
						<p class="header-text">FRONT-END DEVELOPER</p>
						<p>HTML, CSS, Javascript website updates for Know Your IBM program.</p>
						<p class="header-text">BUSINESS INTELLIGENCE DEVELOPER</p>
						<p>Build and maintain data feed process for datawarehouse. Design reporting templates and analytics.</p>
						<p class="header-text">EMAIL MARKETING</p>
						<p>Produce HTML templates for email content, manage mailing list database following best practices and compliance.</p>
					</div>
				</div>
			</div>
			<!-- Skill section DIV-->
			<div class="col s12 m12 l4">
				<div class="padding-wrap">
					<h4>SKILLS</h4>
					<div class="divider"></div>
					<p class="header-text">FRONT END</p>
					<ul class="fa-ul">
						<li><i class="fa-li fa fa-circle"></i>HTML</li>
						<li><i class="fa-li fa fa-circle"></i>CSS</li>
						<li><i class="fa-li fa fa-circle"></i>SASS</li>
						<li><i class="fa-li fa fa-circle"></i>Javascript</li>
					</ul>
					<p class="header-text">JS FRAMEWORKS</p>
					<ul class="fa-ul">
						<li><i class="fa-li fa fa-circle"></i>ReactJS</li>
						<li><i class="fa-li fa fa-circle"></i>Meteor</li>
						<li><i class="fa-li fa fa-circle"></i>VueJS</li>
						<li><i class="fa-li fa fa-circle"></i>AngularJS/Angular2</li>
					</ul>
					<p class="header-text">DATABASE</p>
					<ul class="fa-ul">
						<li><i class="fa-li fa fa-circle"></i>SQL/mySQL</li>
						<li><i class="fa-li fa fa-circle"></i>MongoDB</li>
						<li><i class="fa-li fa fa-circle"></i>Microsoft BI Tools</li>
					</ul>
				</div>
			</div> <!-- END SKILL SECTION DIV -->
		</div><!-- END ROW -->
	</div><!-- END CONTAINER -->
</section>


<br /><br />

<section class="experience">
	<div class="container z-depth-1 padding-wrap white">
		<div class="row">
			<div class="col s12 m12 l12 center-align">
				<h4>EXPERIENCE</h4>
			</div>
		</div>
		<div class="row">
			<div class="col s12 m6 l6">
				<div class="padding-wrap">
					<p><span class="header-text">Merscient Inc.</span><br />
						2006-2014<br />
						www.merscient.com
					</p>
					<p>Merscient's products and services include loyalty strategy, a flexible technology platform, and program management. Together our service offerings track, understand, reward and grow customer value and engagement.</p>
				</div>
			</div>
			<div class="col s12 m6 l6">
				<p class="header-text">Front-end Developer</p>
				<p>HTML, CSS, Javascript website updates for Know Your IBM program.</p>
				<p class="header-text">Business Intelligence Analyst</p>
				<p>Build and maintain data feed process for datawarehouse. Design reporting templates and analytics.</p>
				<p class="header-text">Email Marketing</p>
				<p>Produce HTML templates for email content, manage mailing list database following best practices and compliance.</p>
			</div>
		</div>
	</div>
</section>

<br /><br />

<section class="reference">
	<div class="container z-depth-1 white">
		<div class="padding-wrap">
			<div class="row">
				<div class="col s12 m12 l12 center-align">
					<h4>REFERENCE</h4>
				</div>
			</div>
			<div class="row">
				<div class="col s12 m1 l1">
					<i class="fa fa-quote-right fa-2x"></i>
				</div>
				<div class="col s12 m11 l11">
					<p>
						It is with great pleasure that I strongly recommend Frank Lee. I recruited and supervised Frank during his tenure of over 8 years at Merscient. I was continually impressed with how he not only got the job done, but came up with innovative ways to build long-term relationships and good will with customers and colleagues.
						<br /><br />
						He showed leadership and initiative by learning and applying new technologies for our key accounts. Frank continually developed new ways to show value to our customers ...
						<p class="right-align">
							<span class="header-text">
								David Kennedy<br />
								Founder, Merscient Inc
							</span>
						</p>
					</p>
				</div>
			</div>
		</div>
	</div>
</section>

<br /><br />
